.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 2rem;
  padding-bottom: 3rem;
  color: #fff;
  font-family: "Mont Heavy", Sans-serif;
  font-size: 3rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

h1:after {
  content: '';
  position: absolute;
  left: -600%;
  width: 1300%;
  padding-bottom: 2000%;
  top: 80%;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 9999px rgb(45, 46, 131);
  z-index: -1;
}

ul {
  list-style: none;
  padding: 0;
}

.articleCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

img {
  width: 100%;
}

.articleCard a {
  text-decoration: none;
}